#root {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100%;
}

button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff0055;
  border-radius: 4px;
  background-color: #ff0055;
  color: white;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #ff4382;
  border-color: #ff4382;
}
section {
  margin: 2rem 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 0.5rem 0;
}
